
$darkest: #303841;
$lighter: #3A4750;
$logo: #fdd73c;
$contrast: #EEEEEE;

* {
    padding: 0px;
    margin: 0px;

    
  }
  html {
    padding: 0px;
    margin: 0px;
    overflow: hidden;

    .bigImage {
        height: 5vw;
        width: 5vw;
        border-radius: 50%;
        margin-left: 1vw;
        margin-top: 1vw;
        margin-right: 0.7vw;
    }

    .mediumImage {
        height: 2.5vw;
        width: 2.5vw;
        border-radius: 50%;
        margin-left: 25%;
        margin-top: 20%;
        margin-right: 2vw;
    }

    .mistake {
        color: rgb(255, 60, 60);
    }
    .largeText {
        font-size: 3vw;
    }

    .mediumText {
        font-size: 2vw;
    }
    .smallText {
        font-size: 1vw;
        
        
    }
    .ultraSmallText {
        font-size: 0.5vw;
    }
    .bold {
        font-weight: 800;
    }
    .normal {
        font-weight: 400;
    }

        .logo {
                color: $logo;
                margin-right: 1vw;
                margin-left: 2vw;
        }

    .navbar{
        display: flex;
        
        align-items: center;
        background-color: $lighter;
        min-width: 100vw;
        min-height: 15vh;
        color: $contrast;

        div {
            display: flex;
            flex-direction: row;
            padding: 1vw 0vw;
            align-items: center;
        }
        
        
    }

    .profileMaker{
        min-height: 100vh;
        min-width: 100vw;
        background-color: $darkest;
        padding-top: 2vw;
        .profileMakerForm {
            background-color: black;
            color: $contrast;
            display: flex;
            flex-direction: column;
            gap: .3vw;
            align-items: center;
            margin: auto;
            width: 40vw;
            height: 60vh;
            padding-top: 2vw;
            border-radius: .5vw;
            border: .5vw solid $contrast;
            overflow: hidden;
            overflow-y: scroll;
            padding-bottom: 2vw;

            .fileInput {
                min-height: 3vw;
            }
        }
    }
    .welcomeScreen {
        min-height: 100vh;
        min-width: 100vw;
        overflow: hidden;
        margin-bottom: -10vw;
        padding-top: 3vw;
        background-color: $darkest;

    
        .welcomeForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 2vw;
            border: $contrast;
            max-height: 60vh;
            max-width: 30vw;
            margin: 0 auto;
            padding: 5vw 2vw;
            padding-top: 1.5vw;
            overflow: hidden;
            background-color: black;
            color: $contrast;
            text-align: center;
            
            .nameSpan {
                text-align: start;
                display: flex;
                flex-direction: row;
                align-items: start;
                margin-left: -3vw;
                margin-bottom: 1vw;
            }
            .title{
                margin-top: 0.3vw;
                margin-left: -0.7vw;
            }
        }
    }

    .home {
        display: flex;
        max-height: 100vh;
        max-width: 100vw;
        overflow: hidden;
        margin-bottom: -10vw;
        padding-top: 1vw;
        background-color: $darkest;

        .firstThird{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            overflow-y: auto;
            width: 30%;
            padding-top: 5vw;
            padding-left: 1.6vw;
            padding-bottom: 15vw;

        }

        .secondThird{
            width: 50%;
            padding-bottom: 20vw;
            overflow-y: auto;
        }

        .lastThird {
            width: 30%;
            margin-top: 1vw;
            overflow-y: auto;
            padding-bottom: 20vw;
        }

        .makePost {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: auto;
            width: 90%;
            background-color: #6b7280;
            color: #fff;
            margin-top: 1vw;
            margin-bottom: -1vw;
            margin-left: 2vw;
            border-radius: 2vw;
            padding-bottom: 2vw;
            .postGrid{
                display: grid;
                grid-template-columns: 2fr 12fr;
            }

            .firstSpan{
                display: flex;
                flex-direction: column;
                grid-column: span 1;
                align-items: flex-start;
                padding-top: 0.6vw;
            }

            .namingSpan{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 0.4vw;
            }

            .inputContainer {
                grid-row: span 1;
                grid-column: span 1;
                margin-bottom: -1vw;
                
            }
        }
        .postHolder{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: auto;
            width: 90%;
            background-color: #6b7280;
            color: #fff;
            margin-top: 5%;
            margin-bottom: -1.5%;
            margin-left: 5%;
            border-radius: 2vw;
            padding-bottom: 2%;
            padding-right: 2%;
            cursor: pointer;
            overflow-x: auto;
            scrollbar-width: thin;
            
            &:hover {
                cursor: pointer;
            }

            .gridPostContainer {
                display: grid;
                grid-template-columns: 2fr 12fr;
                
            }

            .postDetailsContainer {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                grid-column: span 1;
                margin-top: 2%;
                
       
                .postNameAndTime {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 1%;
                    width: 100%;

                    
                }

                .postContent {
                    grid-row: span 1;
                    grid-column: span 1;
                }

                
            }
            .commentLikeSpan {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 0%;
                min-width: 100%;
                .button{
                    grid-column: span 1;
                }
                
            }

            
            
        }
    }

    .likeButton {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 50%;

        &:hover {
            cursor: pointer;
        }
    }
    .makeComment {
        height: auto;
        width: 90%;
        color: white;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10%;
        grid-column: span 2;
        border-radius: 1%; 

        .contentHolder {
            display: grid;
            grid-template-columns: 2fr 12fr;
            background-color: $lighter;
            min-width: 100%;
            border-radius: 2vw;
            margin-left: 5%;
            padding-bottom: 5%;
            .profileInfo {
                grid-column: span 1;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .nameAndTag {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 0.5vw;
                }
                .typingArea{
                    grid-row: span 1;
                    grid-column: span 1;
                    min-width: 70%;
                    margin-top: 2%;
                    .typer {
                        border-radius: 1vw;
                        background-color: $darkest;
                        color: $contrast;
                        border: none;
                        outline: none;
                        padding-top: 1vw;
                        padding-left: 1vw;
                        padding-right: 0.3vw;
                        width: 100%;
                    }
                }
            }
        }
    }

    .oldComments {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        width: 90%;
        background-color: $contrast;
        color: $lighter;
        margin-top: 2vw;
        margin-left: 2vw;
        padding-bottom: 1vw;
        grid-column: span 2;
        border-radius: 0.7vw;

        .bigSpanHolder {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            .imageHolder {
                display: grid;
                grid-template-columns: 2fr 12fr;
            }
            .profileDetailHolderOne{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                grid-column: span 1;
                margin-left: -23vw;
                margin-top: 0.3vw;

                .focusedProfileDetailHolder {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

            }

            .contentHolder {
                grid-row: span 1;
                grid-column: span 1;
            }
        }
    }
    .profileShowcase{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: auto;
        margin-top: 2vw;
        margin-bottom: 1vw;
        border-radius: 0.7vw;
        padding-left: 0.5vw;
        padding-bottom: 0.5vw;
        margin-left: -0.5vw;
        background-color: $lighter;
        color: $contrast;
        .contentHolder {
            display: grid;
            grid-template-columns: 2fr 12fr;

            .bio {
                margin-top: 0.3vw;
                grid-row: span 1;
                grid-column: span 2;
                margin-left: -0.4vw;
            }
        }
        .profileInfo {
            grid-column: span 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 1vw;
            margin-top: 0.5vw;
            
            .naming {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 0.5vw;
                margin-bottom: 1vw;
            }
            .followingContainer {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2vw;
                margin-left: 2vw;
                margin-bottom: 1vw;
            }
        }
    }

    .searchBar {
        width: 80%;
        height: 3vh;
        background-color: black;
        color: $contrast;
        margin-top: 2vw;
        padding: 0.5vw 1vw;
        border-radius: 1vw;
        outline: none;
        border: none;
    }
    .searchBarField{
        height: 5vh;
        width: 50%;
        background-color: $lighter;
        color: $contrast;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        padding-left: 1vw;
        margin-left: 2vw;
        border-radius: 1vw;
        cursor: pointer;

        &:hover {
            cursor: pointer;
            background-color: $darkest
        }
    }


    //BUttons: 
    .btn-1 {
        border-radius: 1vw;
        background-color: $darkest;
        color: $contrast;
        margin-top: 1vw;
        padding: 1vw 2vw;
        border: .2vw solid $contrast;

        &:hover {
            background-color: $contrast;
            color: $lighter;
            border-color: $lighter;
            border-style: solid;
            cursor: pointer;
        }
      }

      .btn-2 {
        border-radius: 1vw;
        background-color: $contrast;
        color: $darkest;
        margin-top: 1vw;
        padding: 1vw 2vw;
        border: .2vw solid $darkest;

        &:hover {
            background-color: $darkest;
        color: $contrast;
        border-color: $lighter;
        border-style: solid;
        cursor: pointer;
        }
      }
      

      .input-1 {
            border-radius: 1vw;
            background-color: $darkest;
            color: $contrast;
            margin-top: 1vw;
            padding: 1vw 2vw;
            border: .2vw solid $contrast;
            margin-bottom: 1vw;
            resize: none;
            &:focus {
                outline: none;
            }
          
      }

      

      
      
      
  }

  